*.class
PA2/CoolLexer.java
.cool*
PA2/CoolLexer.java~
tests/test6.cl
*.zip
discussion3-demo/
*.gz
*.jar

# ignore the output file for testing
*.out
./PA4/!.cool-tree.java
./PA4/!.ClassTable.java
./PA4/!.tests/*
