*.class
PA2/CoolLexer.java
.cool*
PA2/CoolLexer.java~
tests/test6.cl
*.zip
discussion3-demo/
*.gz
*.jar

# ignore the output file for testing
*.out
./PA4/!.cool-tree.java
./PA4/!.ClassTable.java
./PA4/!.tests/

# Ignore everything in PA5
PA5/*

# But not these files...
PA5/!.java
PA5/!.cl
PA5/!.s

# ignore everything in the original PA5 folder
PA5-original/*

# ignore every .pdf file
*.pdf


